<div class="row">
    <div class="col m12">
        <h3>Search</h3>
        <form name="search_form" class="form-inline text-center" ng-submit="search()">
            <div class="form-group">
                <select class="form-control input-lg" id="blood_group" ng-model="search_form.blood_group">
                    <option ng-repeat="blood_group in blood_groups">{{blood_group}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" ng-model="search_form.location" class="form-control input-lg" placeholder="Location" ng-autocomplete  options="location_options" details="search_form.location_details" />
            </div>

            <div class="form-group">
                <input type="submit" name="submit" class="input-lg btn btn-success" value="Search" />
            </div>
        </form>
        <hr />
    </div>
</div>


<div class="row center">
    <h3>Stats</h3>

    <div class="col m4 s12">
        <div class="card red darken-4">
            <div class="card-content white-text">
                <span class="card-title">Matching Donors</span> 
                <h1>{{match_donors.count}}</h1>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card orange darken-1">
            <div class="card-content white-text">
                <span class="card-title">Registered Donors</span> 
                <h1>{{::users.count}}</h1>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Registered Donors</span> 
                <h1>{{::users.count}}</h1>
            </div>
        </div>
    </div>
</div>