<div class="section">
    <h5>Recent Requests</h5>
    <hr />
    <table class="striped bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Blood Group</th>
                <th>Location</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="request in requests.findRecentRequests">
                <td>{{::request.id| objectIDtoDate | date}}</td>
                <td>{{::request.blood_group}}</td>
                <td>{{::request.location}}</td>
                <td><a ui-sref="request({id:request.id})" class="btn">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
